html {
  font-size: 10px;
  height: 100vh;
  width: 100vw;
}
body {
  height: 50%;
  width: 50%;
}
div {
  width: 2rem;
  height: 2rem;

  margin: auto;
  float: right;
  border: solid black;
}
.main {
  background-color: blanchedalmond;
  margin: 5rem;
  padding: 5rem;
  width: 500px;
  text-align: center;
  width: 100vh;
  height: 100vh;
}
.h2 {
  text-align: center;
  color: black;
}
.ul {
  text-align: center;
  color: sienna;
  background-color: darksalmon;
}
.h1 {
  text-align: center;
  background-color: blanchedalmond;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
p {
  background-color: darksalmon;
}
